:root{
    --theme-accent-color:#4078a7;
    --theme-main-color:#eff4f8;
    --theme-secondary-color:#2f3b47;
    --theme-footer-text-color:#bee1e5;

    --theme-main-text-color:#333333;
    --theme-secondary-text-color:#666666;

    --theme-inTime-state-text-color:#318235;
    --theme-urgent-state-text-color:#e6a809;

    --theme-accent-border-color:#cfe2f3;
    --theme-main-strong-border-color:#cdcdcd;
    --theme-main-light-border-color:#e3e3e3;

}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1,h2,h3,h4,h5 {font-weight: normal; margin: 0;padding: 0;}
body{
    margin: 0px;
    padding: 0px;
    background: #445;
    font-family: Arial;
    background: linear-gradient(#aac4df,#e7ecf0) no-repeat;
    height: 100vh;
    border-top: 4px solid var(--theme-accent-color);
}
.wrapper{
    box-shadow: 0 0 15px 1px rgba(10,10,30,0.1);
    width:100%;
    max-width: 1283px;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
}