
.menu-orders{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 320px;
    min-width: 300px;
    max-width: 320px;
    height: 100%;
    min-height: 250px;
    border-right: 1px solid var(--theme-main-light-border-color) ;

}