.main-order__section-items{
    flex-grow: 1;
    padding: 30px 16px 40px;
    background-color: #fafafa;
}
.main-order__section-items-table{
    width: 100%;
    text-transform: capitalize;
    border-collapse: collapse;
    border: none;
    font-size: 14px;
    background-color: white;
}
.main-order__section-items-table tr th{
    background-color: #f7f7f7;
    padding: 8px 0 8px;
    font-weight: normal;

    border-bottom: 2px solid var(--theme-main-light-border-color);
}
.main-order__section-items-table tr td{
    height: 54px;
    padding: 0;
    border-bottom: 1px solid var(--theme-main-light-border-color);
}
.main-order__section-items-table tr>*:nth-child(1){
    text-align: left;
    padding-left: 18px;
    width: 36%;
}

.main-order__section-items-table tr>*:nth-child(2){
    text-align: center;
    padding-right: 0;
    color: var(--theme-secondary-text-color);
    /*padding-left: 18px;*/
}
.main-order__section-items-table tr>*:nth-child(3){
    text-align: right;
    color: var(--theme-secondary-text-color);
    /*padding-left: 18px;*/
}

.main-order__section-items-table tr>*:nth-child(4){
    text-align: right;
    color: var(--theme-secondary-text-color);

    padding-right: 18px;
}
.main-order__section-items-table-product{
    display: block;
    margin-bottom: 8px;
}